h1 {
    font-size: 45px;
    font-family: Verdana;
}

hr {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 11px;
}

ul {
    list-style: none;
    display: flex;
}

nav {
    clear: both;
    height: 84px;
    padding-left: 30px;
    margin-bottom: 60px;
    background: grey;
}

nav ul li {
    flex: 1;
    font-size: 1.3em;
    line-height: 76px;
    text-transform: lowercase;
}

nav ul li a {
    display: block;
    float: left;
    padding: 0 40px;
    height: 84px;
    color: black;
    text-decoration: none;
}

.product {
    width: 280px;
    height: 420px;
    border: 2px solid gray;
    border-radius: 9px;
    margin-left: 35px;
    margin-right: 45px;
}

div {
    display: inline-block;
}

.information {
    font-size: 24px;
    color: brown;
    margin-top: 5px;
}

.buy {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 3px;
}

.icon-rate {
    color: goldenrod;
    width: 18px;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.price {
    font-size: 20px;
}

.buy:hover {
    background-color: grey;
    border: 2px solid black;
    border-radius: 7px;
}

.all {
    display: inline-block;
    position: absolute;
    left: 250px;
}

.main img {
    width: 220px;
    height: 200px;
}

.product img {
    width: 200px;
    height: 220px;
}

span {
    font-size: 25px;
}